<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>Hello, I am Martin Pare! Nice to meet you!</h1>
    <h2>Things that I like</h2>
    <!-- Listing of things I like-->
    <ul>
        <li>The Weeknd <em>(Music Artist)</em></li>
        <li>Building Keyboards</li>
        <li>Video Games</li>
    </ul>
    <h2>Top 3 foods of all time</h2>
    <ol>
        <!--Listing the best foods of all time-->
        <li>Pizza</li>
        <li>Fried Chicken</li>
        <li>Steak: <em>Medium Rare</em></li>
    </ol>
    <!-- Tabular data to show list of classes took-->
    <table>
        <tr>
        <th>Class</th>
        <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT404</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>CMSC122</td>
            <td>Fall 2023</td>
        </tr>
    </table>
    <!--More information about programming and how to learn for free-->
<h3>Below are my thoughts about programming.</h3>
<p>Programming is about <strong>problem-solving</strong>. It does not matter what language you are good at, it all matters is how you approach the problem and how you get the pieces you
need to solve the puzzle.</p>
<p>You can learn for <strong>FREE</strong> about programming. There are numerous resources like <a href="https://www.youtube.com">YouTube</a>, or <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp.</a>
FreeCodeCamp was my first introduction to <strong>HTML</strong>.</p>
</body>
</html>